$color-accent: #cf1430;
$color-neutral: #c7c7c7;
$color-neutral-100: #bbbbbb;
$color-neutral-200: #b8b8b8;
$color-neutral-300: #a3a3a3;

$background-color-default: #0e1414;

$container-max-widths: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px
);