@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "open-sans";
  src: url("../../src/assets/OpenSans/OpenSans-Light.ttf") format("truetype"), url("../../src/assets/OpenSans/OpenSans-Regular.ttf") format("truetype"), url("../../src/assets/OpenSans/OpenSans-Medium.ttf") format("truetype"), url("../../src/assets/OpenSans/OpenSans-Bold.ttf") format("truetype"), url("../../src/assets/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: open-sans, sans-serif;
}

body {
  background-color: #0e1414;
}

.modal {
  background-color: white;
  border-radius: 20px;
  width: 500px;
  height: 400px;
}

.wrapper {
  width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 992px;
    margin: 0 auto;
  }
}
/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
.gallery img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.gallery img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

article.description {
  font-weight: lighter;
  margin-bottom: 50px;
}
article.description h1 {
  color: white;
  font-size: 25px;
  border-bottom: 1px solid white;
  padding-block: 0 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
article.description p {
  color: #c7c7c7;
  font-size: 18px;
  line-height: 30px;
}

article.quote {
  font-weight: bold;
  letter-spacing: 1px;
}
article.quote h2 {
  color: #cf1430;
  margin-bottom: 20px;
}
article.quote p {
  color: white;
  line-height: 30px;
}

.blog-section {
  width: 100%;
}
.blog-section h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}
.blog-section .blog-container .card {
  width: 100%;
}
.blog-section .blog-container .card .image {
  width: 100%;
  overflow: hidden;
  border-bottom: 4px solid #cf1430;
  cursor: pointer;
  margin-bottom: 20px;
}
.blog-section .blog-container .card .image img {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.blog-section .blog-container .card .image img:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.blog-section .blog-container .card .content {
  margin-bottom: 20px;
}
.blog-section .blog-container .card .content h3 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.blog-section .blog-container .card .content p {
  color: #a3a3a3;
  line-height: 30px;
}
.blog-section .blog-container .card a {
  font-size: 15px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cf1430;
  cursor: pointer;
  padding: 5px 2px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.blog-section .blog-container .card a:hover {
  background-color: #cf1430;
  color: white;
}