@tailwind base;
@tailwind components;
@tailwind utilities;

@import './helpers/variables';
@import './globals/globals';

.wrapper {
    width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapper {
        width: 768px;
        margin: 0 auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 992px;
        margin: 0 auto;
    }
}

/* Extra large devices (large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }
}

.gallery {
    img {
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            filter: brightness(0.8);
        }
    }
}

article.description {
    font-weight: lighter;
    margin-bottom: 50px;

    h1 {
        color: white;
        font-size: 25px;
        border-bottom: 1px solid white;
        padding-block: 0 10px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    p {
        color: $color-neutral;
        font-size: 18px;
        line-height: 30px;
    }
}

article.quote {
    font-weight: bold;
        letter-spacing: 1px;

    h2 {
        color: $color-accent;
        margin-bottom: 20px;
    }

    p {
        color: white;
        line-height: 30px;
    }
}

.blog-section {
    width: 100%;

    h2 {
        font-size: 40px;
        color: white;
        text-align: center;
        margin-bottom: 50px;
    }

    .blog-container {
        .card {
            width: 100%;

            .image {
                width: 100%;
                overflow: hidden;
                border-bottom: 4px solid $color-accent;
                cursor: pointer;
                margin-bottom: 20px;

                img {
                    transition: all .1s ease-in;

                    &:hover {
                        filter:brightness(0.8)
                    }
                }
            }

            .content {
                margin-bottom: 20px;
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: white;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }

                p {
                    color: $color-neutral-300;
                    line-height: 30px;
                }
            }

            a {
                font-size: 15px;
                font-weight: 600;
                color: white;
                letter-spacing: 1px;
                padding-bottom: 5px;
                border-bottom: 1px solid $color-accent;
                cursor: pointer;
                padding: 5px 5px;
                transition: all 0.1s ease;

                &:hover {
                    background-color: $color-accent;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
    }
}